/* rafting.css - White Water Rafting Company */

/* Variables CSS */
:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del Body */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Contenedores principales */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Estilos del Header */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

/* Estilos de los encabezados */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Estilos de elementos comunes */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Estilos de enlaces de redes sociales */
.socialmedia a {
    text-decoration: none;
}
